@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0;
}

html::-webkit-scrollbar-track {
  background: none;
}

html::-webkit-scrollbar-thumb {
  background: none;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* news ticker */
#ticker {
  background-color: #ffe082;
  overflow: auto;
  height: 30px;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
#ticker ul {
  display: block;
  padding: 0px;
  line-height: 30px;
  margin: 0px;
  list-style: none;
  white-space: nowrap;
  animation: scroll 20s linear 0s infinite;
  position: absolute;
}
#ticker ul li {
  display: inline-block;
  margin-left: 20px;
}
#ticker .title {
  background-color: red;
  color: #fff;
  position: absolute;
  left: 0;
  font-weight: bold;
  border-right: 2px solid #fff;
  top: 0;
  display: block;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}
@keyframes scroll {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(-300%, 0);
  }
}

/* Custom CSS */

#ticker {
  width: 100%;
  margin: auto;
}
#ticker ul {
  width: 100%;
}

/* end ticker */

.gradient-bg-welcome {
  background-color: #212121;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  background-color: #f1c052;
  color: #212121;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #f1c052 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.gradient-bg-services {
  background-color: #212121;
}

.gradient-bg-transactions {
  background-color: #212121;
}

.gradient-bg-footer {
  background-color: #212121;
}

.blue-glassmorphism {
  background: rgb(39, 51, 89, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

/* white glassmorphism */
.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.eth-card {
  background-color: #a099ff;
  background-image: radial-gradient(
      at 83% 67%,
      rgb(152, 231, 156) 0,
      transparent 58%
    ),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(
      at 4% 36%,
      hsla(0, 0%, 100%, 1) 0,
      transparent 53%
    ),
    radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
